@model List<DailyDish.DB.Entity.Flavor>

<script>
    var model = @Html.Raw(Json.Encode(Model));

</script>

    <div class="container">
        @foreach (var item in Model)
        {
            <button type="button" class="btn btn-default" id="@item.FlavorName" onclick="AddTasteToResult($(this), '@item.Type','@item.FlavorName')">@item.FlavorName</button>
        }
     
    </div>

